body {
	margin: 0;											
	padding: 0;
	background: #dedede;
}
header {
	background: #222222;
}
header::after {							/*clearfix для header*/
    content: "";
    display: table;
    clear: both;
 }
.nameplate {							/*шильдик kinobase.ru*/
	float: left;
	font: bold 1.5em Tahoma, sans-serif;
	color: grey;
	padding: 10px 20px;
	margin-left: 10%;
}
.nameplate-2 {							/*шильдик "Открой мир кино с нами"*/
	font: .75em Tahoma, sans-serif;
	color: grey;
	padding: 10px 20px;
	position: relative;
	top: 20px;
}
.menu {									/*главное меню сайта*/
	float: right;
    list-style-type: none;
    margin: -1.5% 10% 0 0;
    padding: 0;
}
.menu li {
	display: inline-block;
	margin-left: -4px;
    border-left: 1px solid rgba(255,255,255,.2);
}
.menu li:last-child {
    border-right: 1px solid rgba(255,255,255,.2);
}
.menu a {								/*оформление главменю сайта*/
	box-sizing: border-box;
	display: inline-block;
	text-decoration: none;
	color: grey;
	font: 1em Tahoma, sans-serif;
	padding: 15px 15px;
	width: 100%;
    opacity: .75;
    transition: opacity 1s, background 1s;
}
.menu a:hover {							/*подсветка главменю*/
    opacity: 1;
    background: rgba(255,255,255,.15);
}
.strip-1 {
	position: relative;					/*синяя полоса*/
	background: #1850a6;
	height: 50px;
}
.container-enter {						/*вход/регистрация*/
	position: absolute;
	left: 10%;
}
.enter {								
	list-style-type: none;
	margin-top: 0.625em;
}
.enter li {								
	display: inline-block;
}
.enter a {								
	text-decoration: none;
	text-shadow: 1px 1px 2px black;
	font: 1.2em serif;
	color: white;
	padding: 0 10px;
}
.border-a {								/*разделитель для вход/регистрация*/
	border-right: 3px solid white;
}
.container-search {
	position: absolute;
	right: 13%;
	top: 50%;
	margin-top: -0.625em;
	width: 40%;
}
.search {
	color: white;
	text-shadow: 1px 1px 2px black;
	padding: 15px;
}
.input {
	width: 450px;
}
.corner-bot {
	position: absolute;
	top: 23px;
	left: 11%;
}
.corner-big {
	position: absolute;
	top: 3px;
	left: 49%;
}
.corner-search {
	position: absolute;
	right: 12%;
	top: -20px;
}
.strip-2 {								/*серая полоса*/
	background: #dfdfdf;
	height: 35px;
}
.container-rating {
	margin-top: 10px;
	margin-left: 19%;
}
.rating {
	color: rgb(192,192,192);
	/*text-shadow: 0 0 2px rgba(0,0,0,0.9);*/
	font: bold 1.5em sans-serif;
	margin: 0;
}
.strip-3 {								/*верхня полоса с тенью*/
	background: #cccccc;
	box-shadow: inset 0 0 3px;
	border-top: 1px solid grey;
	height: 7px;
}
.container-for-poster {					/*контейнер для карусели?*/
	position: relative;
	width: 100%;
	height: 350px;
}
.poster {								/*большой постер к мадагаскару*/											
	background-image: url(../images/madagaskar-cut.png);
	width: 100%;
	height: 350px;
}
.top-right-corner {						
	position: absolute;
	right: 12%;
	top: -10%;
	transform: rotate(180deg);
}
.midlle-left-corner {
	transform: rotate(90deg);
	right: 93%;
	top: 53%;
	position: absolute;
}
.container-item {
	display: flex;						/*полупрозрачный блок с анотацией к мадагаскару*/
	position: absolute;
	right: 150px; 
	top: 20px; 
	background-color: rgba(0, 0, 0, .75);
	width: 400px;
	height: 250px;
	border-radius: 15px;
	align-items: flex-end;
}
.container-item-text {
	font: bold;					/*оформление анотации к мадагаскару*/
	color: white;
	margin: 0;
	line-height: 1;
	padding-left: 10px;
	padding-bottom: 5px;
	hyphens: auto; 
}
.text-mad {
	/*position: absolute;*/
	color: white;
	top: 1%;
	left: 2%;
	line-height: .1;
}
.text-mad-2 {
	font: bold 1.5em;
}
.triple-poster {						/*блок с мелкими постерами*/
	position: absolute;
	height: 50px;
	width: 400px;
	right: 150px;
	bottom: 15px;
	display: flex;
	justify-content: space-around;
}
.smll-image {							/*размер и рамка для мелких постеров*/
	width: 93px;
	height: 42px;
	border: 1px solid white;
}
.corner-short {
	position: absolute;
	left: 16%;
	bottom: -4%;
}
.strip-4 {								/*нижняя полоса c тенью*/
	background: #cccccc;
	box-shadow: inset 0 0 3px;
	border-top: 1px solid grey;
	height: 7px;
}
.text-wish {
	text-align: center;
	font: 1.5em Tahoma, sans-serif;
}
.bold {
	font-weight: bold;
}
